<div id="edit_password" class="modal" aria-hidden="true">
	<div class="modal__dialog" role="dialog">
		<header class="modal__header">
			<h3 class="modal__title heading h2">Change Password</h3>
			<button class="modal__close link" data-action="close-modal" title="{{ 'general.accessibility.close' | t | escape }}">
				{%- render 'icon', icon: 'close' -%}
			</button>
		</header>

		<div class="modal__content modal__content--ios-push">
			<form action="">
				<input type="hidden" id="customer_api_login_return" name="returnUrl" value="{{ shop.url }}/account/addresses">
				<input type="hidden" name="respond200" value="true">
				<input type="hidden" id="customer_api_login_redirect" name="redirect" value="">

				<p class="alert alert--error" id="login-form-error" hidden="true"></p>

				<div class="form__input-wrapper form__input-wrapper--labelled">
					<input id="edit_password[old_password]" type="password" class="form__field form__field--text" name="oldpassword" value="" autofocus>
					<label for="oldpassword" class="form__floating-label">Enter current password</label>
				</div>

				<div class="form__input-wrapper form__input-wrapper--labelled">
					<input id="edit_password[new_password]" type="password" class="form__field form__field--text" name="repassword" value="">
					<label for="repassword" class="form__floating-label">New password</label>
				</div>

				<div class="form__input-wrapper form__input-wrapper--labelled">
					<input id="edit_password[new_password2]" type="password" class="form__field form__field--text" name="password" value="">
					<label for="password" class="form__floating-label">Repeat password</label>
				</div>

				<button class="form__submit button button--primary button--full">Submit</button>
			</form>
		</div>
	</div>
</div>
