<div id="shopify-section-store-selector-bar" class="shopify-section">
  <section data-section-id="store-selector-bar" data-section-type="store-selector-bar">
    <div class="announcement-bar" style="background: var(--header-background);color: #fff;">
      <div class="container">
        <div class="announcement-bar__inner" style="align-items: left;">
          <p class="announcement-bar__content announcement-bar__content--left" id="storeSelectorBar"><span>Welcome to Palmers! Start shopping by selecting your local store.</span> <a href="#" data-action="open-modal" aria-controls="StoreAvailabilityModal-picker" aria-label="Select store" style="text-decoration: underline;">Choose Store</a></p>
       	</div>
      </div>
    </div>
  </section>
</div>